.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 5px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 4px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
ul {
  list-style-type: circle;
}
.countermeasures_setup {
  margin-bottom: 1rem;
}
