<p>Hey {{ user_name }},</p>
<p>User {{user_id}}-{{user_name}} requested an asset</p>
<p>
    <a href="{{ url }}">Check now!</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
